{% extends 'base.html.twig' %}

{% block title %}Genus {{ name }}{% endblock %}

{% block body %} {# Está sobreescrevendo o bloco {body} existente no arquivo 'base.html.twig' #}
    <h1>The Genus {{ name }}</h1>

    {#&#123;&#35;{{ dump(name) }}&#35;&#125;#}
    {#&#123;&#35;{{ dump(notes) }}&#35;&#125;#}
    {#{{ dump() }}#}

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
{% endblock %}